<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ site.description | default: 'Tech blog and portfolio' }}" />
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="icon" href="{{ site.baseurl }}/assets/images/1311.png" />
  <link rel="stylesheet" href="{{ '/css/layout.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/typography.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/utilities.css' | relative_url }}">
  <script defer src="{{ '/js/script.js' | relative_url }}"></script>
</head>

<body>
  <div class="navbar">
    <a class="nav-title-link" href="{{ '/' | relative_url }}">
      <span class="nav-title">in/contactgilmore</span>
      <a class="button" href="http://www.linkedin.com/in/contactgilmore">
        <span class="button-text">Contact Me</span>
      </a>
    </a>
  </div>

  <main id="main-content">
    {{ content }}
  </main>

  <div id="footer">
    <a class="icon-link" href="https://www.linkedin.com/in/contactgilmore/">
      <image src="{{ '/assets/icons/linkedin.svg' | relative_url }}" class="footer-icon" />
    </a>
    <a class="icon-link" href="mailto:contactgilmore@gmail.com">
      <image src="{{ '/assets/icons/mail.svg' | relative_url }}" class="footer-icon" />
    </a>
  </div>
</body>
</html>
