---
layout: default
---

<div class="blog-post">
  <div class="blog-post-content">
    <img src="{{ page.thumbnail }}" class="blog-thumbnail" alt="Blog thumbnail">
    <h1 class="main-title">{{ page.title }}</h1>
    <p class="body-text" style="color: gray;">{{ page.date | date: "%B %d, %Y" }}</p>
    <div class="body-text">
      {{ content }}
    </div>
  </div>

  <div class="blog-nav-links">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" class="blog-nav-link">
        &larr; {{ page.previous.title }}
      </a>
    {% endif %}

    {% if page.next %}
      <a href="{{ page.next.url }}" class="blog-nav-link">
        {{ page.next.title }} &rarr;
      </a>
    {% endif %}
  </div>
</div>
